---
http_interactions:
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/?arxiv_id=2211.05783
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":"unifying-flow-stereo-and-depth-estimation","arxiv_id":"2211.05783","nips_id":null,"url_abs":"https://arxiv.org/abs/2211.05783v1","url_pdf":"https://arxiv.org/pdf/2211.05783v1.pdf","title":"Unifying
        Flow, Stereo and Depth Estimation","abstract":"We present a unified formulation
        and model for three motion and 3D perception tasks: optical flow, rectified
        stereo matching and unrectified stereo depth estimation from posed images.
        Unlike previous specialized architectures for each specific task, we formulate
        all three tasks as a unified dense correspondence matching problem, which
        can be solved with a single model by directly comparing feature similarities.
        Such a formulation calls for discriminative feature representations, which
        we achieve using a Transformer, in particular the cross-attention mechanism.
        We demonstrate that cross-attention enables integration of knowledge from
        another image via cross-view interactions, which greatly improves the quality
        of the extracted features. Our unified model naturally enables cross-task
        transfer since the model architecture and parameters are shared across tasks.
        We outperform RAFT with our unified model on the challenging Sintel dataset,
        and our final model that uses a few additional task-specific refinement steps
        outperforms or compares favorably to recent state-of-the-art methods on 10
        popular flow, stereo and depth datasets, while being simpler and more efficient
        in terms of model design and inference speed.","authors":["Andreas Geiger","DaCheng
        Tao","Fisher Yu","Hamid Rezatofighi","Jianfei Cai","Jing Zhang","Haofei Xu"],"published":"2022-11-10","conference":null,"conference_url_abs":null,"conference_url_pdf":null,"proceeding":null}]}'
  recorded_at: Fri, 11 Nov 2022 17:48:34 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/unifying-flow-stereo-and-depth-estimation/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://github.com/autonomousvision/unimatch","owner":"autonomousvision","name":"unimatch","description":"Unifying
        Flow, Stereo and Depth Estimation","stars":52,"framework":"none","is_official":true}]}'
  recorded_at: Fri, 11 Nov 2022 17:48:35 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/unifying-flow-stereo-and-depth-estimation/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":10,"next":null,"previous":null,"results":[{"id":"middlebury","name":"Middlebury","full_name":"Middlebury
        Stereo","url":"https://vision.middlebury.edu/stereo/data/"},{"id":"flyingthings3d","name":"FlyingThings3D","full_name":"","url":"https://lmb.informatik.uni-freiburg.de/resources/datasets/SceneFlowDatasets.en.html"},{"id":"kitti","name":"KITTI","full_name":"","url":"http://www.cvlibs.net/datasets/kitti/"},{"id":"tartanair","name":"TartanAir","full_name":"","url":"http://theairlab.org/tartanair-dataset/"},{"id":"sun3d","name":"SUN3D","full_name":"SUN3D","url":"http://sun3d.cs.princeton.edu/"},{"id":"scannet","name":"ScanNet","full_name":"","url":"http://www.scan-net.org/"},{"id":"flyingchairs","name":"FlyingChairs","full_name":"","url":"https://lmb.informatik.uni-freiburg.de/resources/datasets/FlyingChairs.en.html"},{"id":"virtual-kitti-2","name":"Virtual
        KITTI 2","full_name":"","url":"https://europe.naverlabs.com/Research/Computer-Vision/Proxy-Virtual-Worlds"},{"id":"eth3d","name":"ETH3D","full_name":"","url":"https://www.eth3d.net/"},{"id":"argoverse","name":"Argoverse","full_name":"","url":"https://www.argoverse.org/data.html"}]}'
  recorded_at: Fri, 11 Nov 2022 17:48:36 GMT
- request:
    method: get
    uri: http://export.arxiv.org/api/query?search_query=cat:cs.CV%20OR%20cat:cs.AI%20OR%20cat:cs.LG%20OR%20cat:cs.CL%20OR%20cat:cs.NE%20OR%20cat:stat.ML%20&sortBy=lastUpdatedDate&sortOrder=descending
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom">
          <link href="http://arxiv.org/api/query?search_query%3Dcat%3Acs.CV%20OR%20cat%3Acs.AI%20OR%20cat%3Acs.LG%20OR%20cat%3Acs.CL%20OR%20cat%3Acs.NE%20OR%20cat%3Astat.ML%20%26id_list%3D%26start%3D0%26max_results%3D10" rel="self" type="application/atom+xml"/>
          <title type="html">ArXiv Query: search_query=cat:cs.CV OR cat:cs.AI OR cat:cs.LG OR cat:cs.CL OR cat:cs.NE OR cat:stat.ML &amp;id_list=&amp;start=0&amp;max_results=10</title>
          <id>http://arxiv.org/api/Ng7l2usAsA+y01hV0NniA5J/7uE</id>
          <updated>2022-11-11T00:00:00-05:00</updated>
          <opensearch:totalResults xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">247561</opensearch:totalResults>
          <opensearch:startIndex xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">0</opensearch:startIndex>
          <opensearch:itemsPerPage xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">10</opensearch:itemsPerPage>
          <entry>
            <id>http://arxiv.org/abs/2211.05783v1</id>
            <updated>2022-11-10T18:59:54Z</updated>
            <published>2022-11-10T18:59:54Z</published>
            <title>Unifying Flow, Stereo and Depth Estimation</title>
            <summary>  We present a unified formulation and model for three motion and 3D perception
        tasks: optical flow, rectified stereo matching and unrectified stereo depth
        estimation from posed images. Unlike previous specialized architectures for
        each specific task, we formulate all three tasks as a unified dense
        correspondence matching problem, which can be solved with a single model by
        directly comparing feature similarities. Such a formulation calls for
        discriminative feature representations, which we achieve using a Transformer,
        in particular the cross-attention mechanism. We demonstrate that
        cross-attention enables integration of knowledge from another image via
        cross-view interactions, which greatly improves the quality of the extracted
        features. Our unified model naturally enables cross-task transfer since the
        model architecture and parameters are shared across tasks. We outperform RAFT
        with our unified model on the challenging Sintel dataset, and our final model
        that uses a few additional task-specific refinement steps outperforms or
        compares favorably to recent state-of-the-art methods on 10 popular flow,
        stereo and depth datasets, while being simpler and more efficient in terms of
        model design and inference speed.
        </summary>
            <author>
              <name>Haofei Xu</name>
            </author>
            <author>
              <name>Jing Zhang</name>
            </author>
            <author>
              <name>Jianfei Cai</name>
            </author>
            <author>
              <name>Hamid Rezatofighi</name>
            </author>
            <author>
              <name>Fisher Yu</name>
            </author>
            <author>
              <name>Dacheng Tao</name>
            </author>
            <author>
              <name>Andreas Geiger</name>
            </author>
            <arxiv:comment xmlns:arxiv="http://arxiv.org/schemas/atom">Project Page: https://haofeixu.github.io/unimatch, Code:
          https://github.com/autonomousvision/unimatch</arxiv:comment>
            <link href="http://arxiv.org/abs/2211.05783v1" rel="alternate" type="text/html"/>
            <link title="pdf" href="http://arxiv.org/pdf/2211.05783v1" rel="related" type="application/pdf"/>
            <arxiv:primary_category xmlns:arxiv="http://arxiv.org/schemas/atom" term="cs.CV" scheme="http://arxiv.org/schemas/atom"/>
            <category term="cs.CV" scheme="http://arxiv.org/schemas/atom"/>
          </entry>
          <entry>
            <id>http://arxiv.org/abs/2211.05781v1</id>
            <updated>2022-11-10T18:59:43Z</updated>
            <published>2022-11-10T18:59:43Z</published>
            <title>Demystify Transformers &amp; Convolutions in Modern Image Deep Networks</title>
            <summary>  Recent success of vision transformers has inspired a series of vision
        backbones with novel feature transformation pa[...]
