---
http_interactions:
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/?arxiv_id=2211.05783
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":"unifying-flow-stereo-and-depth-estimation","arxiv_id":"2211.05783","nips_id":null,"url_abs":"https://arxiv.org/abs/2211.05783v1","url_pdf":"https://arxiv.org/pdf/2211.05783v1.pdf","title":"Unifying
        Flow, Stereo and Depth Estimation","abstract":"We present a unified formulation
        and model for three motion and 3D perception tasks: optical flow, rectified
        stereo matching and unrectified stereo depth estimation from posed images.
        Unlike previous specialized architectures for each specific task, we formulate
        all three tasks as a unified dense correspondence matching problem, which
        can be solved with a single model by directly comparing feature similarities.
        Such a formulation calls for discriminative feature representations, which
        we achieve using a Transformer, in particular the cross-attention mechanism.
        We demonstrate that cross-attention enables integration of knowledge from
        another image via cross-view interactions, which greatly improves the quality
        of the extracted features. Our unified model naturally enables cross-task
        transfer since the model architecture and parameters are shared across tasks.
        We outperform RAFT with our unified model on the challenging Sintel dataset,
        and our final model that uses a few additional task-specific refinement steps
        outperforms or compares favorably to recent state-of-the-art methods on 10
        popular flow, stereo and depth datasets, while being simpler and more efficient
        in terms of model design and inference speed.","authors":["Andreas Geiger","DaCheng
        Tao","Fisher Yu","Hamid Rezatofighi","Jianfei Cai","Jing Zhang","Haofei Xu"],"published":"2022-11-10","conference":null,"conference_url_abs":null,"conference_url_pdf":null,"proceeding":null}]}'
  recorded_at: Fri, 11 Nov 2022 17:48:34 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/unifying-flow-stereo-and-depth-estimation/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://github.com/autonomousvision/unimatch","owner":"autonomousvision","name":"unimatch","description":"Unifying
        Flow, Stereo and Depth Estimation","stars":52,"framework":"none","is_official":true}]}'
  recorded_at: Fri, 11 Nov 2022 17:48:35 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/unifying-flow-stereo-and-depth-estimation/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":10,"next":null,"previous":null,"results":[{"id":"middlebury","name":"Middlebury","full_name":"Middlebury
        Stereo","url":"https://vision.middlebury.edu/stereo/data/"},{"id":"flyingthings3d","name":"FlyingThings3D","full_name":"","url":"https://lmb.informatik.uni-freiburg.de/resources/datasets/SceneFlowDatasets.en.html"},{"id":"kitti","name":"KITTI","full_name":"","url":"http://www.cvlibs.net/datasets/kitti/"},{"id":"tartanair","name":"TartanAir","full_name":"","url":"http://theairlab.org/tartanair-dataset/"},{"id":"sun3d","name":"SUN3D","full_name":"SUN3D","url":"http://sun3d.cs.princeton.edu/"},{"id":"scannet","name":"ScanNet","full_name":"","url":"http://www.scan-net.org/"},{"id":"flyingchairs","name":"FlyingChairs","full_name":"","url":"https://lmb.informatik.uni-freiburg.de/resources/datasets/FlyingChairs.en.html"},{"id":"virtual-kitti-2","name":"Virtual
        KITTI 2","full_name":"","url":"https://europe.naverlabs.com/Research/Computer-Vision/Proxy-Virtual-Worlds"},{"id":"eth3d","name":"ETH3D","full_name":"","url":"https://www.eth3d.net/"},{"id":"argoverse","name":"Argoverse","full_name":"","url":"https://www.argoverse.org/data.html"}]}'
  recorded_at: Fri, 11 Nov 2022 17:48:36 GMT
- request:
    method: get
    uri: http://export.arxiv.org/api/query?search_query=cat:cs.CV%20OR%20cat:cs.AI%20OR%20cat:cs.LG%20OR%20cat:cs.CL%20OR%20cat:cs.NE%20OR%20cat:stat.ML%20&sortBy=lastUpdatedDate&sortOrder=descending
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom">
          <link href="http://arxiv.org/api/query?search_query%3Dcat%3Acs.CV%20OR%20cat%3Acs.AI%20OR%20cat%3Acs.LG%20OR%20cat%3Acs.CL%20OR%20cat%3Acs.NE%20OR%20cat%3Astat.ML%20%26id_list%3D%26start%3D0%26max_results%3D10" rel="self" type="application/atom+xml"/>
          <title type="html">ArXiv Query: search_query=cat:cs.CV OR cat:cs.AI OR cat:cs.LG OR cat:cs.CL OR cat:cs.NE OR cat:stat.ML &amp;id_list=&amp;start=0&amp;max_results=10</title>
          <id>http://arxiv.org/api/Ng7l2usAsA+y01hV0NniA5J/7uE</id>
          <updated>2022-11-11T00:00:00-05:00</updated>
          <opensearch:totalResults xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">247561</opensearch:totalResults>
          <opensearch:startIndex xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">0</opensearch:startIndex>
          <opensearch:itemsPerPage xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">10</opensearch:itemsPerPage>
          <entry>
            <id>http://arxiv.org/abs/2211.05783v1</id>
            <updated>2022-11-10T18:59:54Z</updated>
            <published>2022-11-10T18:59:54Z</published>
            <title>Unifying Flow, Stereo and Depth Estimation</title>
            <summary>  We present a unified formulation and model for three motion and 3D perception
        tasks: optical flow, rectified stereo matching and unrectified stereo depth
        estimation from posed images. Unlike previous specialized architectures for
        each specific task, we formulate all three tasks as a unified dense
        correspondence matching problem, which can be solved with a single model by
        directly comparing feature similarities. Such a formulation calls for
        discriminative feature representations, which we achieve using a Transformer,
        in particular the cross-attention mechanism. We demonstrate that
        cross-attention enables integration of knowledge from another image via
        cross-view interactions, which greatly improves the quality of the extracted
        features. Our unified model naturally enables cross-task transfer since the
        model architecture and parameters are shared across tasks. We outperform RAFT
        with our unified model on the challenging Sintel dataset, and our final model
        that uses a few additional task-specific refinement steps outperforms or
        compares favorably to recent state-of-the-art methods on 10 popular flow,
        stereo and depth datasets, while being simpler and more efficient in terms of
        model design and inference speed.
        </summary>
            <author>
              <name>Haofei Xu</name>
            </author>
            <author>
              <name>Jing Zhang</name>
            </author>
            <author>
              <name>Jianfei Cai</name>
            </author>
            <author>
              <name>Hamid Rezatofighi</name>
            </author>
            <author>
              <name>Fisher Yu</name>
            </author>
            <author>
              <name>Dacheng Tao</name>
            </author>
            <author>
              <name>Andreas Geiger</name>
            </author>
            <arxiv:comment xmlns:arxiv="http://arxiv.org/schemas/atom">Project Page: https://haofeixu.github.io/unimatch, Code:
          https://github.com/autonomousvision/unimatch</arxiv:comment>
            <link href="http://arxiv.org/abs/2211.05783v1" rel="alternate" type="text/html"/>
            <link title="pdf" href="http://arxiv.org/pdf/2211.05783v1" rel="related" type="application/pdf"/>
            <arxiv:primary_category xmlns:arxiv="http://arxiv.org/schemas/atom" term="cs.CV" scheme="http://arxiv.org/schemas/atom"/>
            <category term="cs.CV" scheme="http://arxiv.org/schemas/atom"/>
          </entry>
          <entry>
            <id>http://arxiv.org/abs/2211.05781v1</id>
            <updated>2022-11-10T18:59:43Z</updated>
            <published>2022-11-10T18:59:43Z</published>
            <title>Demystify Transformers &amp; Convolutions in Modern Image Deep Networks</title>
            <summary>  Recent success of vision transformers has inspired a series of vision
        backbones with novel feature transformation pa[...]
[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/demystify-transformers-convolutions-in-modern/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://github.com/opengvlab/stm-evaluation","owner":"opengvlab","name":"stm-evaluation","description":"","stars":22,"framework":"none","is_official":true}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:00 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/demystify-transformers-convolutions-in-modern/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"id":"imagenet","name":"ImageNet","full_name":"","url":"https://image-net.org/index.php"},{"id":"coco","name":"COCO","full_name":"Microsoft
        Common Objects in Context","url":"https://cocodataset.org/"}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:01 GMT
[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/broken-neural-scaling-laws/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://github.com/ethancaballero/broken_neural_scaling_laws","owner":"ethancaballero","name":"broken_neural_scaling_laws","description":"Code
        Release for \"Broken Neural Scaling Laws\" paper","stars":14,"framework":"none","is_official":true}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:03 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/broken-neural-scaling-laws/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"id":"caltech-101","name":"Caltech-101","full_name":"","url":"http://www.vision.caltech.edu/Image_Datasets/Caltech101/"},{"id":"imagenet","name":"ImageNet","full_name":"","url":"https://image-net.org/index.php"},{"id":"cifar-100","name":"CIFAR-100","full_name":"","url":"https://www.cs.toronto.edu/~kriz/cifar.html"},{"id":"big-bench","name":"BIG-bench","full_name":"Beyond
        the Imitation Game Benchmark","url":"https://github.com/google/BIG-bench"}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:04 GMT
[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/internimage-exploring-large-scale-vision/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://github.com/opengvlab/internimage","owner":"opengvlab","name":"internimage","description":"","stars":63,"framework":"none","is_official":true}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:06 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/internimage-exploring-large-scale-vision/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":3,"next":null,"previous":null,"results":[{"id":"imagenet","name":"ImageNet","full_name":"","url":"https://image-net.org/index.php"},{"id":"coco","name":"COCO","full_name":"Microsoft
        Common Objects in Context","url":"https://cocodataset.org/"},{"id":"ade20k","name":"ADE20K","full_name":"","url":"https://groups.csail.mit.edu/vision/datasets/ADE20K/"}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:07 GMT
[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/hybrid-quantum-neural-network-for-drug/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Sun, 13 Nov 2022 15:39:09 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/hybrid-quantum-neural-network-for-drug/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Sun, 13 Nov 2022 15:39:09 GMT
[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/fine-grained-entity-segmentation/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Sun, 13 Nov 2022 15:39:12 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/fine-grained-entity-segmentation/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":8,"next":null,"previous":null,"results":[{"id":"ade20k","name":"ADE20K","full_name":"","url":"https://groups.csail.mit.edu/vision/datasets/ADE20K/"},{"id":"cityscapes","name":"Cityscapes","full_name":"","url":"https://www.cityscapes-dataset.com/dataset-overview/"},{"id":"synscapes","name":"Synscapes","full_name":"","url":"https://7dlabs.com/synscapes-overview"},{"id":"coco","name":"COCO","full_name":"Microsoft
        Common Objects in Context","url":"https://cocodataset.org/"},{"id":"laion-400m","name":"LAION-400M","full_name":"","url":"https://laion.ai/laion-400-open-dataset/"},{"id":"lvis","name":"LVIS","full_name":"","url":"https://www.lvisdataset.org/dataset"},{"id":"gta5","name":"GTA5","full_name":"Grand
        Theft Auto 5","url":"https://arxiv.org/pdf/1608.02192v1.pdf"},{"id":"entityseg","name":"EntitySeg","full_name":"","url":"http://luqi.info/entityv2.github.io/"}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:13 GMT
[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/scaling-neural-face-synthesis-to-high-fps-and/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Sun, 13 Nov 2022 15:39:15 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/scaling-neural-face-synthesis-to-high-fps-and/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Sun, 13 Nov 2022 15:39:16 GMT
[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/dilated-neighborhood-attention-transformer/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"https://github.com/SHI-Labs/Neighborhood-Attention-Transformer","owner":"SHI-Labs","name":"Neighborhood-Attention-Transformer","description":"[Preprint]
        Neighborhood Attention Transformer, 2022","stars":686,"framework":"pytorch","is_official":true},{"url":"https://github.com/shi-labs/natten","owner":"shi-labs","name":"natten","description":"Neighborhood
        Attention Extension. Bringing attention to a neighborhood near you!","stars":36,"framework":"pytorch","is_official":false}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:17 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/dilated-neighborhood-attention-transformer/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"id":"ade20k","name":"ADE20K","full_name":"","url":"https://groups.csail.mit.edu/vision/datasets/ADE20K/"},{"id":"cityscapes","name":"Cityscapes","full_name":"","url":"https://www.cityscapes-dataset.com/dataset-overview/"},{"id":"imagenet","name":"ImageNet","full_name":"","url":"https://image-net.org/index.php"},{"id":"coco","name":"COCO","full_name":"Microsoft
        Common Objects in Context","url":"https://cocodataset.org/"}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:17 GMT
[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/neighborhood-attention-transformer/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"https://github.com/shi-labs/natten","owner":"shi-la[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/neighborhood-attention-transformer/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"id":"ade20k","name":"ADE20K","full_name":"","url":"https://groups.csail.mit.edu/vision/datasets/ADE20K/"},{"id":"imagenet","name":"ImageNet","full_name":"","url":"https://image-net.org/index.php"}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:20 GMT
[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/stylenat-giving-each-head-a-new-perspective/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://github.com/SHI-Labs/StyleNAT","owner":"SHI-Labs","name":"StyleNAT","description":"[Preprint]
        StyleNAT: Giving Each Head a New Perspective 2022","stars":29,"framework":"none","is_official":true}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:21 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/stylenat-giving-each-head-a-new-perspective/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"id":"ffhq","name":"FFHQ","full_name":"Flickr-Faces-HQ","url":"https://github.com/NVlabs/ffhq-dataset"},{"id":"lsun","name":"LSUN","full_name":"Large-scale
        Scene UNderstanding Challenge","url":"https://www.yf.io/p/lsun"}]}'
  recorded_at: Sun, 13 Nov 2022 15:39:21 GMT
recorded_with: VCR 6.1.0
