---
http_interactions:
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/be-your-own-teacher-improve-the-performance/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":"be-your-own-teacher-improve-the-performance","arxiv_id":"1905.08094","nips_id":null,"url_abs":"https://arxiv.org/abs/1905.08094v1","url_pdf":"https://arxiv.org/pdf/1905.08094v1.pdf","title":"Be
        Your Own Teacher: Improve the Performance of Convolutional Neural Networks
        via Self Distillation","abstract":"Convolutional neural networks have been
        widely deployed in various application scenarios. In order to extend the applications''
        boundaries to some accuracy-crucial domains, researchers have been investigating
        approaches to boost accuracy through either deeper or wider network structures,
        which brings with them the exponential increment of the computational and
        storage cost, delaying the responding time. In this paper, we propose a general
        training[...]
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/be-your-own-teacher/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"detail":"Not found."}'
  recorded_at: Tue, 18 Oct 2022 13:03:48 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/be-your-own-teacher-improve-the-performance/repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://github.com/luanyunteng/pytorch-be-your-own-teacher","owner":"luanyunteng","name":"pytorch-be-your-own-teacher","description":"A
        pytorch implementation of paper ''Be Your Own Teacher: Improve the Performance
        of Convolutional Neural Networks via Self Distillation'', https://arxiv.org/abs/1905.08094","stars":94,"framework":"pytorch","is_official":false}]}'
  recorded_at: Tue, 18 Oct 2022 13:03:49 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers/be-your-own-teacher-improve-the-performance/datasets/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"id":"imagenet","name":"ImageNet","full_name":"","url":"https://image-net.org/index.php"},{"id":"cifar-100","name":"CIFAR-100","full_name":"","url":"https://www.cs.toronto.edu/~kriz/cifar.html"}]}'
  recorded_at: Tue, 18 Oct 2022 13:03:50 GMT
- request:
    method: get
    uri: https://paperswithcode.com/api/v1/papers//repositories/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |2

        <!doctype html>
        <html lang="en">
        <head>
          <title>Not Found</title>
        </head>
        <body>
          <h1>Not Found</h1><p>The requested resource was not found on this server.</p>
        </body>
        </html>
  recorded_at: Sat, 05 Nov 2022 07:23:34 GMT
recorded_with: VCR 6.1.0
